* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

